---
import Button from "./Button.astro";
export interface Props {
  sommerSkole?: boolean;
  cardTitle?: string;
  dist1?: string;
  dist2?: string;
  dist3?: string;
  dist4?: string;
  dist5?: string;
  cardTitleBagside?: string;
  cardTextForside?: string;
  cardTextBagside?: string;
  cardImage?: string;
  cardImageAlt?: string;
}

const {
  sommerSkole,
  cardTitle,
  cardTitleBagside,
  cardTextForside,
  cardTextBagside,
  cardImage,
  cardImageAlt,
  dist1,
  dist2,
  dist3,
  dist4,
  dist5,
} = Astro.props as Props;
---

<label class="swap swap-flip">
  <input type="checkbox" class="hidden" />
  <div class="swap-on">
    <div class="relative shadow-2xs rounded-xl w-70 h-100 px-5">
      <img
        class="w-60 h-100 object-none rounded-xl brightness-60"
        src={`/img/${cardImage}`}
        alt={cardImageAlt}
      />
      <div class="absolute top-0 start-0 end-0 w-70 h-100 items-center px-5">
        <div class="absolute top-2 left-2 z-10">
          {
            sommerSkole && (
              <div class="badge badge-soft badge-primary bg-orange-400">
                Sommer hojskole
              </div>
            )
          }
        </div>
        <div class="p-4 md:p-5 mt-5">
          <h3
            class="text-3xl font-bold font-display text-white mb-7 text-center"
          >
            {cardTitle}
          </h3>
          <h3
            class="text-3xl font-bold font-display mt-5 text-center text-white"
          >
            {dist1}
          </h3>
          <h3
            class="text-3xl font-bold font-display mt-5 text-center text-white"
          >
            {dist2}
          </h3>
          <h3
            class="text-3xl font-bold font-display mt-5 text-center text-white"
          >
            {dist3}
          </h3>
          <h3
            class="text-3xl font-bold font-display mt-5 text-center text-white"
          >
            {dist4}
          </h3>
          <h3
            class="text-3xl font-bold font-display mt-5 text-center text-white"
          >
            {dist5}
          </h3>
          <p class="text-xs text-gray-200 mt-5 font-p">
            Klik for at høre hvad andre siger
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="swap-off">
    <div class="relative shadow-2xs rounded-xl w-70 h-100 px-5">
      <img
        class="w-60 h-100 object-none rounded-xl brightness-60"
        src={`/img/${cardImage}`}
        alt={cardImageAlt}
      />
      <div class="absolute top-0 start-0 end-0 w-70 h-100 items-center px-5">
        <div class="absolute top-2 left-2 z-10"></div>
        <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-white">{cardTitleBagside}</h3>
          <p class="mt-5 text-white italic font-p mb-5">
            {cardTextBagside}
          </p>
          <Button variant="light" label="Læs om ophold" />
        </div>
      </div>
    </div>
  </div>
</label>
